
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>如何进行科学施肥</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="/static/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  </head>
  <body>

<main class="container">
<div class="col-md-12">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        科普系列
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">如何进行科学施肥？科学施肥的方法</h2>
        <p class="blog-post-meta">January 14, 2021 by <a href="https://www.my478.com/html/20210114/327577.html">农业种植网</a></p>

        <p>
            对农作物施肥一直是农业生产中重要的环节，施肥技术的好坏决定着农作物的生长情况，那究竟该如何进行科学的施肥呢？下面就给大家总结一下科学施肥的方法。
        </p>
        <hr>

        <h3>按照土壤肥力施肥</h3>
        <p>
            按照土壤肥力施肥也就是所谓的测土配方施肥，又称平衡施肥。本着土壤缺什么补什么，缺多少，补多少的原则进行施肥。
        </p>

          <p>
            测土配方施肥简单的说就是以土壤测试为基础，根据土壤供肥能力、作物需肥规律和肥料效应，在合理施用有机肥的基础上，提出氮、磷、钾及微量元素合理的施用数量、施肥时期和方法，以达到提高肥料利用率和作物产量、改善农产品品质的目的。
        </p>

        <h3>按照土壤特性施肥</h3>
          <ul>
              <li>南方地区的红壤、砖红壤、黄壤、黄棕壤、棕壤呈酸性或微酸性，施用磷肥宜用偏碱性的钙镁磷肥。</li>
              <li>北方土壤黑钙土、栗钙土、灰钙土、褐土等多呈碱性，施用磷肥宜用偏酸性的过磷酸钙。</li>
              <li>连续施肥多年的大棚、老菜田一般呈逐步酸化趋势，且钙镁元素缺乏，磷肥宜选用偏碱性的钙镁磷肥、磷矿粉等，既可调节土壤酸度，又可供应钙镁元素。</li>
                <li>有盐渍化特征的碱土、盐土，尤其是滨海盐土，可以施用磷石膏，施用钾肥宜选用硫酸钾。</li>
            </ul>

          <h3>按照作物需肥特性施肥</h3>
            <p>
                施肥时，应根据不同作物的需肥特性合理施用，以提高肥料的利用率，达到作物高产优质的目的。
            </p>
          <ul>
              <li>禾谷类作物，如小麦、玉米、水稻需氮较多，钾次之，一般田应增施氮肥或选用高氮复合肥，高产田要注重钾肥的施用。</li>
              <li>豆科作物本身有根瘤，可以从空气中取氮，且对磷的需要较多，应选择低氮、高磷复合肥。</li>
              <li>块茎、根茎类作物如甘薯、马铃薯需要较多的钾，应选用高钾复合肥。</li>
                <li>棉、麻类等纤维作物需钠作为养分，使纤维紧密，强度提高，又是喜钾作物。</li>
              <li>烟草、葡萄、苹果、茶等作物不宜使用含氯肥料。</li>
            </ul>

          <h3>掌握施肥的两个关键时期</h3>
            <p>
                作物营养临界期：一般是在幼苗期，这一时期的特点是作物需要养分并不多，但很迫切，如果缺乏养分则对以后的生长发育影响很大。
            </p>
          <p>
              肥料效率期：一般是在作物旺盛生长时期，此时需要养分数量大，追肥效果非常好。如：玉米在大喇叭口期，小麦在拔节、孕穗期，棉花在花铃期。
          </p>

          <h3>掌握科学的施肥方式</h3>
            <p>
                一个完整的作物施肥方案是由基肥、种肥和追肥三种施肥方式组成的。基肥是在作物播种前或定植时施用的肥料，以有机肥为主，常配合施用一部分化肥。种肥是在作物播种时，施于种子附近的肥料，主要是供苗期利用的养分。追肥是在作物生长期间施用的肥料，它能及时满足作物中后期对养分的要求。追肥主要用化学氮肥。根据实际情况，三种施肥方式要灵活掌握，不要强求一致。
            </p>
      </article><!-- /.blog-post -->

    </div>
</main>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">Reference: https://www.my478.com/html/20210114/327577.html</p>
            </div>
        </footer>
  </body>
</html>
