
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>如何推进农业产业绿色振兴</title>
    

    <!-- Bootstrap core CSS -->
<link href="/static/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  </head>
  <body>

<main class="container">
<div class="col-md-12">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        科普系列
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">如何推进农业产业绿色振兴</h2>
        <p class="blog-post-meta">October, 2019 by <a href="http://news.sciencenet.cn/sbhtmlnews/2019/10/350004.shtm">翁伯琦</a></p>

        <p>如何充分发挥科技兴农作用、怎样有效促进产业绿色振兴，无疑是新时代赋予农业科研院所与科技人员的新命题。就总体发展思路而言，要以科技创新为基础，助力乡村科技创业；以科技兴农为支撑，促进产业绿色振兴；有效保障粮食安全、食品安全、生态安全；着力提高土地产出率、劳动生产率、资源利用率、污染防控率；完善并提升作业机械化、生产标准化、管理智能化、开发高优化、产业绿色化、产品品牌化、功能多样化、三产融合化、增收持续化；实现农业强、农民富、农村美的主体目标。</p>
        <hr>
        <p>以科技兴农推动质量强农与绿色强农，要着力构建高优生产体系、高效产业体系、高值经营体系。事实上，强化科技兴农作用，需要注重把握5个重要环节：优良品种选育、高优技术配套、先进设施应用、产品加工提质、多样功能开发。强化产业绿色振兴，同样需要把握5个关键环节：维护良好生态、严格防控污染、土壤质量保育、农牧有机结合、废物循环利用。</p>

          <h2>五大方面</h2>
        <p>不言而喻，乡村科技兴农与产业绿色振兴是息息相关的，其相互交融、相互促进、相互支持、相互契合，进而保障资源节约、产出提高、环境友好、增收致富的目标实现。就发展对策而言，要着力把握5个方面：</p>
        <h3>优化农业绿色发展格局</h3>
        <p>如何落实国家粮食安全与保障供应的重大部署，首先要注重“农业三区”建设，即粮食生产功能区、重要农产品生产保护区、特色及优质农产品生产区建设与完善。粮食生产功能区，即要从保障粮食安全的战略高度审视种植产业发展，划定9亿亩的小麦与玉米生产区，着力并有效保障口粮供应，牢牢端好中国人自己的饭碗。重要农产品生产保护区，即针对大豆、棉花、油菜、天然橡胶等产品特性划定生产区域，满足人们生活与经济发展需求。特色与优质农产品生产区，即要发挥各个地域、各生态区优势，因地制宜与因势利导创造特色农业竞争优势。</p>

        <h3>“示范园区”建设</h3>
        <p>即分门别类构建现代农业科技示范园区、农业可持续发展示范区、现代绿色农业产业园区的建设体系，并以此作为推动“农业三区”建设的样板基地与重要抓手，全面形成农业绿色发展的新格局，着力提高农产品的市场竞争实力，以实现现代农业的高产、优质、高效、安全、生态的发展目标。</p>

          <h3>全面实施基础保障建设</h3>
            <p>
                为了保护和提升农业产能，同时保障绿色与高优生产，需要把握5个基础环节：建设标准农田，配套水利设施与土壤质量保育措施；建设技术体系，优化耕作制度与资源高效利用措施；建设种苗体系，引进选育并重且集成推广优良品种；建设管理体系，实施绿色管控标准化与智能化运营；强化风险防控，加强病虫害管理及其防灾减灾措施。
            </p>

          <h3>农业绿色振兴</h3>
            <p>
                就农业绿色振兴而言，无疑需要提升科技创新与科技创业的保障能力。就此，要充分挖掘动植物的遗传潜力，着力深化新品种的选育；要充分提高农业资源利用效率，推动农机农艺有效结合；要充分发挥乡村洁净场地作用，集成推广清洁生产技术；要充分发挥绿色标准化的作用，完善溯源及其监测技术；要充分应用农业环境基准方法，合理构建核算评估体系。
            </p>

          <h3>探索生态循环农业模式</h3>
            <p>
                目前每年种植业秸秆产生量7亿吨，养殖业废弃物产生量38亿吨，如果不进行有效循环利用，将成为巨大污染源，如果将其有效循环利用，就能够获得潜力巨大的农业生产资源。要尽快把农业发展从单一的追求经济效益转到经济和生态兼顾的目标上来，着力探索并构建特色各具的生态循环农业发展模式。
            </p>
          其重点包括4个方面：
            <ul>
              <li>优化种植制度，例如玉米、大豆轮作制，既有利于生产，又有利于地力培育；</li>
              <li>优化农牧结合，在畜牧业养殖区，要实施种植业有效吸纳与优化匹配，既保障种植业生产，又有利于养分转化利用；</li>
              <li>优化农菌耦合，以种植业作物秸秆+养殖业废弃物质优化组合，有效发展高效食用菌产业，生产菌物蛋白，丰富食品供应；</li>
                <li>优化农草融合，在果园与茶园实施生草栽培，既可以防控水土流失，保护生态环境，又能够开发农区草业，增加农民收入，进而构建资源节约与环境友好的绿色农业发展新模式，创立新机制，取得新成效。</li>
            </ul>

          <h3>推行优质产品绿色生产。</h3>
        <p>注重应用先进信息技术，优化构建与完善农业生产标准化体系，重点是实施绿色生产过程防控技术，推动绿色标准农业产品生产；关键是实行优质农产品的绿色生产措施，着力抓好“一控两减三基本”技术体系构建与完善工作。强化水利设施建设，保障水资源利用效率提高，水的平均利用效率要从0.52提高至0.55以上；严格实施“两减”技术措施，减少化学肥料与化学农药使用量30%，研究并替代30%以上高效有机肥料与生物农药，并对农产品质量进行提标增效。同时要完善产业化标准，实现优质优价的统一，从源头上保障优质农产品的绿色生产。还要大力发展节水、节地、节药、节能以及减少温室气体排放的技术，大力推进绿色生产模式创新与“三生”技术集成融合，使农业科技创新速度超越绿色农业发展步伐，有效服务绿色振兴，全面助力农民增收。</p>

          <p>拓展绿色农业多样功能。在巩固优质高效生产成果的同时，应进一步深入探索更多点绿成金的生产和加工配套技术。农业还拥有生态、生活、文化、旅游、观光等多样功能，需要进一步深入探讨与充分挖掘潜力。实际上，良好的生态价值是难以用金钱衡量的，其不仅体现在农产品上，更蕴含在生存质量中。随着健康中国规划的实施，在生态环境优良的地区发展旅游观光，促进三产融合；发展休闲养生，促进康复健体。这都有助于点绿成金目标的实现。为此，需要进行农业生态功能的评估和价值核算，探索和完善生态服务产业体系，包括制定标准，树立品牌；做大规模、配套设施；科学评估，有效监管，以科技创新支撑绿色农业多功能发展。</p>

      </article><!-- /.blog-post -->

    </div>
</main>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">Reference: http://news.sciencenet.cn/sbhtmlnews/2019/10/350004.shtm</p>
            </div>
        </footer>
  </body>
</html>
