{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class="text-center col-lg-4"></div>
        <div class="text-center col-lg-4">
            <h1>重置你的密码</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password() }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2() }}<br>
                    {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn btn-lg btn-outline-primary" type="submit">提交</button>
            </form>
        </div>
    </div>
{% endblock %}