{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class="text-center col-lg-4"></div>
    <div class="text-center col-lg-4">
        <h1>创建新用户</h1><br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                {{ form.username() }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}
                {{ form.email() }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password() }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}
                {{ form.password2() }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <button class="btn btn-lg btn-outline-primary" type="submit">注册</button>
        </form>
    </div>
</div>

{% endblock %}